:root {
    --page-size-horizontal: 29.7cm;
    --page-size-vertical: 21cm;
    --columns: 4;
    --rows: 4;
    --size-safety-net: 1mm;
}

@media print {
    .qr_info_title, .qr_parent_links, .qr_print_btn, .qr_test_btn {
        display: none;
    }

    .qr_side_text {
        display: block !important;
    }

    .qr_inner_block {
        padding: 0 !important;
        margin: 0 !important;
        width: calc(var(--page-size-horizontal) / var(--columns) - var(--size-safety-net));
        height: calc(var(--page-size-vertical) / var(--rows) - var(--size-safety-net));
    }
}

@page {
    size: A4 landscape;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: Helvetica, sans-serif;
}

.qr_outer_block {
    /* background-color: red; */
    margin: 0;
    padding: 0;
}

.qr_inner_block {
    margin: 4px;
    padding: 4px;
    display: inline-block;
    /* background-color: green; */
}

.qr_side_text {
    display: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    overflow-wrap: anywhere;
    max-width: calc(var(--page-size-horizontal) / var(--columns) - var(--size-safety-net));
    max-height: calc(var(--page-size-vertical) / var(--rows) - var(--size-safety-net));
}

.qr_img img {
    object-fit: contain;
    width: 100%;
}

.qr_side_by_side {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.qr_report_me {
    font-weight: bold;
}

.qr_thing_id {
    font-style: italic;
}

.qr_parent_links {
    margin: 6px;
}