BODY {
    --page-size-horizontal: 21cm;
    --page-size-vertical: 29.7cm;
    --columns: %cols%;
    --rows: %rows%;
    --size-safety-net: 0.1mm;

    --page-format: A4;
    --page-orientation: portrait;

    --qr-width: calc((var(--page-size-horizontal) - var(--size-safety-net)) / var(--columns));
    --qr-height: calc((var(--page-size-vertical) - var(--size-safety-net)) / var(--rows));

    --qr-size: calc(min(0.95 * var(--qr-height), 0.7 * var(--qr-width)));

    width: var(--page-size-horizontal);
    height: var(--page-size-vertical);
}

@media print {
    .qr_infos_block, .qr_config_block, .qr_selection_options, .qr_display_config {
        display: none;
    }
}

@page {
    size: var(--page-format) var(--page-orientation);
    margin: 0px;
}

html, body {
    margin: 0;
    padding: 0px;

    font-family: Helvetica, sans-serif;
}

A {
    color: #000;
    text-decoration: none;
}

A:hover {
    background: #EEE;
}

.hide_root .qr_root, .hide_children .qr_child, .hide_descendants .qr_descendant {
    display: none;
}

.qr_display_config {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 6px;
}

.qr_inner_block {
    margin: 0px;
    padding: 4px;
    display: inline-block;
    width: var(--qr-width);
    height: var(--qr-height);
    font-size: calc(var(--qr-size) / 13);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    box-sizing: border-box;
}

.qr_selection_options {
    text-align: center;
}

IMG {
    transform: rotate(90deg);
    display: inline-block;
    max-width: var(--qr-size);
}

.qr_report_me {
    font-weight: bold;
}

.qr_thing_id {
    font-style: italic;
}

.qr_infos_block, .qr_config_block {
    margin: 6px;
}